
{% extends 'main.html' %} 


{% block title %}Meus Projetos{% endblock %}

{% block content %}
{% load static %}
<div class="container">
    <h1>Meus Projetos</h1>

    <div class="projetos-grid">
        {% for projeto in projetos %}
        <div class="projeto-card">
            <img src="{{ projeto.image.url }}" alt="{{ projeto.title }}">
            <h3>{{ projeto.title }}</h3>
            <p>{{ projeto.description }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
