{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <!-- Tags meta existentes -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Novas tags meta para SEO -->
        <meta name="description" content="Portfólio de Vitor Pagotto - Desenvolvedor Full Stack especializado em JavaScript, Python, Node, React, Django e MongoDB">
        <meta name="keywords" content="desenvolvedor full stack, javascript, python, node, react, django, mongodb, Vitor Pagotto">
        <meta name="author" content="Vitor Pagotto">
        
        <!-- Open Graph tags para compartilhamento em redes sociais -->
        <meta property="og:title" content="Vitor Pagotto - Desenvolvedor Full Stack">
        <meta property="og:description" content="Portfólio de projetos e habilidades em desenvolvimento web full stack">
        <meta property="og:image" content="[URL da sua imagem de perfil ou logo]">
        <meta property="og:url" content="[URL do seu site]">
        
        <title>{% block title %} Vitor Pagotto - Desenvolvedor Full Stack{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
        <link rel="icon" href="{% static 'favicon.ico' %}">
    </head>
    
<body>
    
    {% block content %}
    <h1>MEU HEROI</h1>
    {% endblock %}
</body>
</html>
