{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <a href="{% url 'home' %}">Apresentação</a>
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a href="{% url 'curriculo' %}">Currículo</a></li>
                    <li><a href="{% url 'projetos' %}">Portfólio</a></li>
                    <li><a href="{% url 'contact' %}">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="projetos">
        <h1>Meus Projetos</h1>
        <div class="projetos-container">
            <!-- Card 1 -->
            <div class="card">
                <h2>Miaudote</h2>
                <p><strong>Desenvolvedores:</strong> Vitor Pagotto, Eduardo Romeu, Eugenio Domingues</p>
                <p><strong>Linguagem:</strong> Javascript</p>
                <p><strong>Framework:</strong> React</p>
                <p><strong>Descrição:</strong> Aplicativo criado para facilitar a busca e adoção de animais abandonados</p>
                <div class="avaliacao">
                    <span class="estrelas">★★★★☆</span>
                    <span class="nota">4.0</span>
                </div>
                <div class="botoes">
                    <a href="{% url 'miaudotefotos' %}" class="btn-fotos">Ver Fotos</a>
                    <a href="https://github.com/stEElpuLs3/miaudote" target="_blank" class="btn-repositorio">Ver Repositório</a>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="card">
                <h2>Calendario</h2>
                <p><strong>Desenvolvedores:</strong> Vitor Pagotto</p>
                <p><strong>Linguagem:</strong> JavaScript</p>
                <p><strong>Framework:</strong> React</p>
                <p><strong>Descrição:</strong> Aplicativo de calendario de eventos, feito com o objetivo de testar minhas habilidades</p>
                <div class="avaliacao">
                    <span class="estrelas">★★★☆☆</span>
                    <span class="nota">3.0</span>
                </div>
                <div class="botoes">
                    <a href="{% url 'calendariofotos' %}" target="_blank" class="btn-fotos">Ver Fotos</a>
                    <a href="https://github.com/stEElpuLs3/calendario" target="_blank" class="btn-repositorio">Ver Repositório</a>
                </div>
            </div>

            <div class="card">
                <h2>Personal IA</h2>
                <p><strong>Desenvolvedores:</strong> Vitor Pagotto</p>
                <p><strong>Linguagem:</strong> Python</p>
                <p><strong>Framework:</strong> Django</p>
                <p><strong>Descrição:</strong> Personal trainer integrado com inteligencia artificial para captura de movimentos e correção de postura durante os exercícios físicos.</p>
                <div class="avaliacao">
                    <span class="estrelas">★★★★★</span>
                    <span class="nota">5.0</span>
                </div>
                <div class="botoes">
                    <a href="{% url 'personalfotos' %}" target="_blank" class="btn-fotos">Ver Fotos</a>
                    <a href="https://github.com/stEElpuLs3/personalIA" target="_blank" class="btn-repositorio">Ver Repositório</a>
                </div>
            </div>

            <!-- Adicione mais cards conforme necessário -->
        </div>
    </section>

    <footer>
        <p>© 2025 - Desenvolvido por Vitor Pagotto | +5527997577555 | vitorvrp7@gmail.com <a href="mailto:vitorvrp7@gmail.com" style="color: white;">Entre em contato</a></p>
    </footer>
</body>
</html>